* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d4c81d83;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #72bb7e;
}

header h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.cabecalho-imagem {
    width: 200px; /* Ajuste o tamanho conforme necessário */
    margin-left: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #dbc359d0;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form {
    margin-bottom: 20px;
    width: 100%;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    display: block;
    width: 250px;
}

input {
    padding: 8px;
    margin-right: 10px;
    flex: 1;
}

.info-text {
    font-size: 14px;
    color: #555;
    margin-left: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#resultado {
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    margin-top: 20px;
}
